<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <property name="APP_NAME" value="web"/>
    <property name="log.path" value="logs"/>
    <include resource="com/zero/tech/base/logging/logback/logback-common.xml"/>
    <include resource="com/zero/tech/base/logging/logback/logback-console-appender.xml"/>
    <include resource="com/zero/tech/base/logging/logback/logback-file-appender.xml"/>
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="!dev">
        <root level="info">
            <appender-ref ref="FILELOG"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>
</configuration>